@model ActiveCitizenWeb.StaticContentCMS.ViewModel.FAQ.QuestionVM

@{
    ViewBag.Title = "EditQuestion";
}

<div>
    <div class="fit-left">
        <h2>Редактировать вопрос</h2>
    </div><div class="fit-rigth">
        <h3><a href="../">Обратно к списку вопросов</a></h3>
    </div>
</div>

<div class="fill">
    <form action="~/FAQ/SaveQuestion" class="fill" method="post">
        <b>Вопрос:</b><br />
        @Html.TextAreaFor(m => m.Question, new { @class = "question-area"})
        <br /><br />
        <b>Ответ (можно использовать HTML теги):</b><br />
        @Html.TextAreaFor(m => m.Answer, new { @class = "question-area", @rows = "20" })
        <br /><br />
        <b>Выберите раздел, в котором будет отображаться вопрос:</b>
        @Html.DropDownListFor(m => m.Category.Id, Model.CategoryNames)
        <br /><br />
        <b>Выберите очередность в которой будет отображаться вопрос в разделе:</b>
        @Html.TextBoxFor(m => m.Order)
        <br /><br />

        @Html.HiddenFor(m => m.Id)
        <input type="submit" value="Сохранить изменения" />
    </form>
</div>

