@model ActiveCitizenWeb.StaticContentCMS.ViewModel.FAQ.QuestionsVM
@using ActiveCitizen.Model.StaticContent.FAQ;

<script src="~/Scripts/faq.js"></script>

@{
    ViewBag.Title = "Index";
}

<div>
    <div class="fit-left">
        <h2>Редактировать вопросы</h2>
    </div><div class="fit-rigth">
        <input type="button" onclick="newquestion()" value="Создать новый вопрос" />
        <input type="button" onclick="newcategory()" value="Создать новый раздел" />
    </div>
</div>

<div class="questions">
    <table class="questions" border="1" id="tblQuestions">
        <tr class="header">
            <td width="15%">Раздел</td>
         <td width="20%">Текст вопроса</td>
            <td>Текст ответа</td>
            <td width="5%" align="center">Порядок в разделе</td>
        </tr>
        @foreach (FaqListItem item in Model.Questions)
        {
            <tr>
                <td><a href="/FAQ/EditCategory/@item.Category.Id">@Model.Cut(item.Category.Name, 128)</a></td>
                <td><a href="/FAQ/EditQuestion/@item.Id">@Model.Cut(item.Question, 256)</a></td>
                <td>@Html.Raw(Model.Cut(@item.Answer, 512))</td>
                <td align="center">@item.Order</td>
            </tr>
        }
        @foreach (FaqListCategory item in Model.Categories)
        {
            <tr>
                <td><a href="/FAQ/EditCategory/@item.Id">@Model.Cut(item.Name, 128)</a></td>
                @if(item == Model.Categories.First())
                { 
                    <th rowspan="@Model.Categories.Count" colspan="3">
                        <i>Раздел(ы) в которых нет вопросов (можно удалять)</i>
                    </th>
                }
            </tr>
        }
    </table>
</div>


